html,
body {
    scroll-behavior: smooth;
}

body {
    color      : var(--bs-gray);
    font-family: var(--second-font);
    font-size  : 1em;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color         : var(--bs-dark);
    font-family   : var(--primary-font);
    font-weight   : 700 !important;
    line-height   : 1.2;
    margin-bottom : 0.5rem;
    text-transform: capitalize;
}

.brand {
    color    : var(--bs-primary);
    font-size: var(--bs-font-30);
}

.brand span {
    color: var(--bs-secondary);
}

@media screen and (min-width: 998px) {
    .brand {
        font-size: var(--bs-font-40);
    }
}

.btn {
    font-weight: 500;
    transition : var(--bs-transition);
}

.btn-primary {
    --bs-btn-bg                : var(--bs-primary);
    --bs-btn-border-color      : var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-hover-bg          : var(--bs-primary);
}

.btn-secondary {
    --bs-btn-bg                : var(--bs-secondary);
    --bs-btn-border-color      : var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-hover-bg          : var(--bs-secondary);
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity  : 0.8;
    transform: translateY(-1px);
}

.section-title {
    color      : var(--bs-gray-dark);
    font-family: var(--primary-font);
    font-weight: 700;
}

.bg-img {
    background-attachment: fixed;
    background-image     : url("../../images/bg.png");
    background-size      : contain;
    background-position  : 50% 50%;
    background-repeat    : no-repeat;
}

.section-header {
    max-width  : 500px;
    position   : relative;
    padding-top: 25px;
}

.section-header::before {
    background: var(--bs-primary);
    content   : "";
    height    : 2px;
    left      : 50%;
    position  : absolute;
    top       : 0;
    transform : translateX(-50%);
    width     : 60px;
}

.section-header::after {
    background: var(--bs-secondary);
    content   : "";
    height    : 3px;
    left      : 50%;
    position  : absolute;
    top       : 10px;
    transform : translateX(-50%);
    width     : 120px;
}

.section-header.text-start::before,
.section-header.text-start::after {
    left     : 0;
    transform: translateX(0);
}

.btn-outline-primary {
    --bs-btn-border-color      : var(--bs-primary);
    --bs-btn-hover-bg          : var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-color             : var(--bs-primary);
}

.btn.active {
    --bs-btn-bg          : var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
}

.nav-pills .nav-item .active {
    background-color: var(--bs-primary);
    border-color    : var(--bs-primary);
    color           : var(--bs-white) !important;
}

.bg-secondary {
    background-color: var(--bs-secondary) !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.bg-primary {
    background-color: #3CB815 !important;
}

.py-6 {
    padding-bottom: 6rem;
    padding-top   : 6rem;
}

.mt-n4 {
    margin-top: -1.5rem;
}

.fa-3x {
    font-size: 2rem;
}

textarea {
    height: 180px !important;
}

.form-control {
    border-color : #ced4da;
    border-radius: 0;
}

.form-control:focus {
    box-shadow  : rgba(60, 184, 21, 0.25) 0px 0px 0px 0.25rem;
    border-color: var(--bs-primary);
    outline     : none;
}