@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
    --primary-font : 'Lora', serif;
    --second-font  : 'Open Sans', sans-serif;
    --bs-indigo    : #6610f2;
    --bs-purple    : #6f42c1;
    --bs-pink      : #d63384;
    --bs-red       : #dc3545;
    --bs-orange    : #fd7e14;
    --bs-yellow    : #ffc107;
    --bs-green     : #198754;
    --bs-teal      : #20c997;
    --bs-cyan      : #0dcaf0;
    --bs-white     : #fff;
    --bs-gray      : #6c757d;
    --bs-gray-light: #999999;
    --bs-gray-dark : #343a40;
    --bs-primary   : #3CB815;
    --bs-secondary : #F65005;
    --bs-success   : #198754;
    --bs-info      : #0dcaf0;
    --bs-warning   : #ffc107;
    --bs-danger    : #dc3545;
    --bs-light     : #F7F8FC;
    --bs-dark      : #111;
    --bs-gradient  : linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-font-72   : 4.5rem;
    --bs-font-40   : 2.5rem;
    --bs-font-30   : 1.875rem;
    --bs-font-24   : 1.5rem;
    --bs-font-20   : 1.25rem;
    --bs-font-14   : 0.875rem;
    --bs-transition: .3s ease-in-out;
}