/*** Header navbar start ***/
.header {
    position: absolute;
    top     : 0;
    width   : 100%;
    z-index : 2;
}

/*** top-bar nav start ***/
.top-navbar {
    width  : 100%;
    z-index: 2;
}

.top-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    font-size    : var(--bs-font-14);
    padding      : 12px 0;
}

.top-bar a {
    color: var(--bs-gray-dark);
}

.top-bar a i {
    transition: var(--bs-transition);
}

.top-bar a:hover i {
    transform: translateY(-1px);
}

/*** end top-bar nav ***/

/*** start nav-bar ***/
.navbar {
    --bs-navbar-padding-y: 0;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        background-color: var(--bs-white);
    }
}

.navbar-nav .nav-item .nav-link,
.dropdown-menu .dropdown-item {
    color      : var(--bs-gray);
    font-weight: 500;
    font-family: var(--bs-primary);
    transition : var(--bs-transition);
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--bs-dark)
}

.active {
    color: var(--bs-dark) !important;
}

@media screen and (min-width: 998px) {
    .navbar-nav .nav-item .nav-link {
        padding: 25px 15px;
    }
}

.btn-sm-square {
    background-color: var(--bs-white);
    color           : var(--bs-gray-dark);
    font-weight     : bolder;
    height          : 34px;
    transition      : var(--bs-transition);
    width           : 34px;
}

.btn-sm-square:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform : translateY(-1px);
}

/*** nav-bar end ***/
/*** header navbar end ***/

/*** carousel start ***/
@media screen and (max-width: 768px) {
    #carousel-foody .carousel-item {
        min-height: 500px;
    }
}

@media screen and (max-width: 768px) {
    #carousel-foody .carousel-item img {
        height         : 100%;
        object-fit     : cover;
        object-position: center;
        position       : absolute;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--bs-primary);
    border-radius   : 3rem;
    border          : 10px solid var(--bs-primary);
    height          : 3rem;
    width           : 3rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: 6%;
}

@media screen and (max-width: 768px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

.carousel-caption {
    inset   : 0;
    position: absolute;
    z-index : 1;
}

@media screen and (min-width: 1200px) {
    .display-2 {
        font-size: var(--bs-font-72);
    }
}

/*** carousel end ***/

/*** about start ***/
.about-img img {
    position: relative;
    z-index : 2;
}

.about-img::before {
    background-image: repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-size : 20px 20px;
    content         : "";
    height          : 100%;
    left            : -50%;
    position        : absolute;
    transform       : skew(20deg);
    top             : 0;
    width           : 100%;
    z-index         : 1;
}

.about-text {
    color: var(--bs-primary);
}

/*** about end ***/

/*** features start ***/

.features-title {
    color      : var(--bs-gray-dark);
    font-size  : var(--bs-font-24);
    font-family: var(--primary-font);
    font-weight: 600;
}

/*** features end ***/

/*** products start ***/
.product-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
    transition: var(--bs-transition);
}

.product-item img {
    transition: all 0.5s ease 0s;
}

.product-item img:hover {
    transform: scale(1.1);
}

.product-title {
    font-family: var(--primary-font);
}

#pills-tabContent .d-flex a {
    color     : var(--bs-gray);
    font-size : var(--bs-font-14);
    transition: var(--bs-transition);
}

#pills-tabContent .d-flex a:hover {
    color: var(--bs-primary);
}

.firmVisit h2 {
    font-family: var(--primary-font);
}

/*** products end ***/

/*** review start ***/
.testimonial-item {
    height    : 100%;
    transition: var(--bs-transition);
}

.testimonial-img {
    height: 60px;
    width : 60px;
}

.testimonial-clientName {
    font-size: var(--bs-font-20);
}

.testimonial-carousel .owl-nav {
    display        : flex;
    justify-content: center;
    margin-top     : 30px;
}

.testimonial-carousel .owl-nav button.owl-prev,
.testimonial-carousel .owl-nav button.owl-next {
    align-items    : center;
    border         : 2px solid var(--bs-primary);
    border-radius  : 50%;
    display        : flex;
    font-size      : 32px;
    font-weight    : normal;
    height         : 50px;
    justify-content: center;
    margin         : 0 10px;
    text-align     : center;
    transition     : .5s;
    position       : relative;
    width          : 50px;
}

.testimonial-carousel .owl-nav button.owl-prev span,
.testimonial-carousel .owl-nav button.owl-next span {
    font-weight: normal;
    transform  : translate(-8%, -8%);
}

.testimonial-carousel .owl-nav button.owl-prev:hover,
.testimonial-carousel .owl-nav button.owl-next:hover {
    background-color: var(--bs-primary);
    color           : var(--bs-white);
}

/*** review end ***/

/*** blog start ***/
.blog-desc a {
    color      : var(--bs-dark);
    font-family: var(--primary-font);
    transition : var(--bs-transition);
}

.blog-desc a:hover {
    color: var(--bs-primary);
}

/*** blog end ***/

/*** contact start ***/
#contact .bg-primary p>a {
    color: var(--bs-white);
}

#contact .btn-sm-square {
    background-color: transparent;
    color           : var(--bs-white);
}

#contact .btn-sm-square:hover {
    background-color: var(--bs-white);
    color           : var(--bs-dark);
}

#downloadNow {
    color: var(--bs-primary);
}

/*** contact end ***/

/*** Google map start ***/
.iframe {
    margin-bottom: -6px;
}

/*** Google map end ***/

/*** Footer start ***/
.footer {
    color: var(--bs-gray-light);
}

#footer-social a {
    background-color: transparent;
    color           : var(--bs-white);
}

#footer-social a:hover {
    background-color: var(--bs-white);
    color           : var(--bs-dark);
}

@media screen and (min-width: 1200px) {
    .footer-title {
        font-size: var(--bs-font-24);
    }
}

.footer .btn-link {
    color          : var(--bs-gray-light);
    display        : block;
    font-weight    : normal;
    margin-bottom  : 5px;
    padding        : 0;
    text-decoration: none;
    text-align     : left;
    text-transform : capitalize;
}

.footer .btn-link i {
    margin-right: 10px;
    font-weight : bolder;
}

.footer .btn-link:hover {
    color         : var(--bs-white);
    letter-spacing: 1px;
}

.footer .btn-primary:hover {
    opacity  : 0.8;
    transform: translateY(0);
}

.copyright {
    border-top: 1px solid rgba(256, 256, 256, .1);
    font-size : var(--bs-font-14);
    padding   : 25px 0;
}

.copyright a {
    color     : var(--bs-white);
    font-size : var(--bs-font-14);
    transition: var(--bs-transition);
}

.copyright a:hover {
    color: var(--bs-primary);
}

/*** Footer end ***/